# Ignore any folder or sub-folder named "_Backups"
**/_Backups/

# Ignore folders
Bin/
bin/
obj/
.vs/
packages/
__pycache__/

# Ignore all VS Code workspace files
*.code-workspace

# Ignore VS user file
*.csproj.user

# Ignore all .env, .pfx files, including in subdirectories
**/*.env
**/*.pfx
